<ion-view view-title="You Deserve A Snack">
	<ion-content>
		<h3 style="margin-left:10px;"> Congrats on a great round!</h3>
		<ion-item class="item-image" style="margin-top:25px;"><img src='../img/eatpanda.jpg'/></ion-item>
		<h3 style="margin-left:10px;"> Click your golf course to see some places to eat.</h3>
		
		<ul class="list">
			<li class="item" ng-repeat="course in golfCourses">
				<a class="green-link" ng-click="showMap(course.id)">{{course.name}}</a>
				<br>
				<iframe ng-if="shownMap === course.id" ng-src="{{course.mapUrl | trusted}}" width="100%" height="300px" frameborder="0" style="border:0" allowfullscreen></iframe>
			</li>
			<!-- <li class="item"><a class="green-link" ng-click="showMap">Admiral's Green and Captain's Hill Golf Courses</a></li>
			<li class="item"><a class="green-link" href="http://www.amarukgolfclub.ca">Amaruk Golf and Sports Club</a></li>
			<li class="item"><a class="green-link" href="http://www.ballyhaly.com">Bally Haly Golf and Curling Club</a></li>
			<li class="item"><a class="green-link" href="http://www.blomidongolf.com">Blomidon Golf and Country Club</a></li>
			<li class="item"><a class="green-link" href="http://www.brooksidegolf.ca">Brookside Golf Resort and RV Park</a></li>
			<li class="item"><a class="green-link" href="http://www.pippypark.com">C.A. Pippy Park</a></li>
			<li class="item"><a class="green-link" href="http://www.clovelly.ca">Clovelly </a></li>
			<li class="item"><a class="green-link" href="http://www.dhoonlodge.ca">Dhoon Lodge Golfing</a></li>
			<li class="item"><a class="green-link" href="http://www.gandergolfclub.ca">Gander Golf Club</a></li>
			<li class="item"><a class="green-link" href="http://www.glendenninggolf.ca">Glendenning Golf</a></li>
			<li class="item"><a class="green-link" href="http://www.grandemeadows.ca">Grande Meadows Golf Course</a></li>
			<li class="item"><a class="green-link" href="http://www.grosmorneresort.com">Gros Morne Golf Course</a></li>
			<li class="item"><a class="green-link" href="http://www.harmonseasidelinks.com">Harmon Seaside Links</a></li>
			<li class="item"><a class="green-link" href="http://www.golfnewfoundland.ca">Humber River Golf Club</a></li>
			<li class="item"><a class="green-link" href="http://www.humbervalley.com">Humber Valley Resort</a></li>
			<li class="item"><a class="green-link" href="http://www.pitcherspondgolf.com">Pitcher's Pond Golf Course</a></li>
			<li class="item"><a class="green-link" href="http://www.tamarackgolfclub.ca">Tamarack Golf Club</a></li>
			<li class="item"><a class="green-link" href="http://www.terranovagolf.com">Terra Nova Resort &amp; Golf Community</a></li>
			<li class="item"><a class="green-link" href="http://www.tnyc.ca">Terra Nova Yacht Club</a></li>
			<li class="item"><a class="green-link" href="http://www.theviewgolfresort.com">The View Golf Course</a></li>
			<li class="item"><a class="green-link" href="http://www.thewilds.ca">The Wilds at Salmonier River</a></li>
			<li class="item"><a class="green-link" href="http://www.thewillowsgolf.ca">The Willows at Holyrood</a></li> -->
		</ul>
	</ion-content>
</ion-view>